# Hosted identity and D1 are injected by Sites, not client-supplied values.
# This build needs no hardcoded API keys.
# Optional future licensed transport adapter: configure server-only credentials.
TRANSPORT_API_URL=
TRANSPORT_API_KEY=
